<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.cdnfonts.com/css/tt-norms-pro" rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="icon" href="../assets/logo.svg">
  <title>Delivery details</title>
</head>
<body>
  <div class="container">
    <div class="address-info">
      <div class="address-name">
        <h1>Your delivery address</h1>
        <input type="text" placeholder="10th avenue, Lekki, Lagos." class="input-info">
      </div>
  
      <div class="your-number">
        <h1>Number we can call</h1>
        <input type="text" placeholder="09090909090" class="input-info">
      </div>
      
      <div class="flex payment">
  
        <div class="pay-delivery">
          <a href="status.html">Pay on delivery</a>
        </div>
  
        <div class="pay-card">
          <a href="card.html">Pay with card</a>
        </div>
  
      </div>
    </div>

  </div>
</body>
</html>