<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.cdnfonts.com/css/tt-norms-pro" rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="icon" href="../assets/logo.svg">
  <title>Add to basket</title>
</head>
<body>
  <div class="basket">

    <section class="main">

      <div class="status-bar-1">
        <img src="../assets/statusbar.svg" alt="Status bar">
      </div>
  
      <div class="flex back-btn">
        <a href="home-screen.html">
          <img src="../assets/arrow.svg" alt="Arrow" id="arrow">
        </a>
        <a href="home-screen.html" id="go-back">Go back</a>
      </div>
  
      <div class="img-2">
        <center><img src="../assets/quinoa.svg" alt="Quinoa slad"></center>
      </div>

    </section>

    <section class="order">

      <h1>Quinoa Fruit Salad</h1>

      <div class="flex add">

        <div class="flex quantity">
          <img src="../assets/minus.svg" alt="Minus">
          <h2>1</h2>
          <img src="../assets/plus.svg" alt="Plus" width="32px">
        </div>

        <div class="flex price">
          <img src="../assets/price2.svg" alt="Coin">
          <h2>2,000</h2>
        </div>

      </div>

      <img src="../assets/line3.svg" alt="Line">

    </section>

    <section class="combo-elements">

      <h2>This combo contains:</h2>

      <img src="../assets/line.svg" alt="Line">

        <div class="flex elements-1">

          <ul class="flex">
            <li class="elements-item">Red Quinoa</li>
            <li class="elements-item">Lime</li>
            <li class="elements-item">Honey</li>
            <li class="elements-item">Blueberries</li>
          </ul>

        </div>

        <div class="flex">
          
          <ul class="flex elements-2">
            <li class="elements-item">Mango</li>
            <li class="elements-item">Strawberries</li>
            <li class="elements-item">Fresh Mint</li>
          </ul>

        </div>
        
        <img src="../assets/line3.svg" alt="Line">

        <div class="finish-order">
          <p>If you are looking for a new fruit salad to eat today, quinoa is the perfect brunch for you. make</p>
          <div class="flex footer">
            <img src="../assets/favourite2.svg" alt="Favorite">
            <a href="order.html">Add to basket</a>
          </div>
        </div>
    </section>

  </div>
</body>
</html>