<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.cdnfonts.com/css/tt-norms-pro" rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="icon" href="../assets/logo.svg">
  <title>Add card</title>
</head>
<body>
  <div class="container">
    <div class="card-info">
      <div class="card-name">
        <h1>Card holder's name</h1>
        <input type="text" placeholder="10th avenue, Lekki, Lagos." class="input-info">
      </div>
      <div class="card-number">
        <h1>Card number</h1>
        <input type="text" placeholder="09090909090" class="input-info">
      </div>
      <div class="flex date-cvv">
        <div class="date">
          <h1>Date</h1>
          <input type="text" placeholder="MM/YY" class="input-back">
        </div>
        <div class="cvv">
          <h1>CVV</h1>
          <input type="text" placeholder="MM/YY" class="input-back">
        </div>
      </div>
      <center>
        <a href="address.html">Complete order</a>
      </center>
    </div>
  </div>
</body>
</html>