<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.cdnfonts.com/css/tt-norms-pro" rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="icon" href="../assets/logo.svg">
  <title>Home Screen</title>
</head>

<body>
  <div class="container">
    <div class="status-bar-2">
      <img src="../assets/statusbar.svg" alt="Status bar">
    </div>

    <main>
      <header>
        <!-- Header -->
        <div class="container-2">

          <div class="welcome">
            <img src="../assets/menu.svg" alt="Menu" id="options">
            <p>Welcome, Chris.</p>
            <a href="basket.html" id="basket">
              <img src="../assets/basket.svg" alt="Basket">
            </a>
          </div>

          <div class="search">
            <img src="../assets/lupa.svg" alt="" id="lupa">
            <input type="text" placeholder="Search for fruit salad combos" >
            <img src="../assets/filters.svg" alt="Filters" id="filter">
          </div>

          <ul class="recommended-combos">
            <li class="list-item">All</li>
            <li class="list-item">Salad Combo</li>
            <li class="list-item">Berry Combo</li>
          </ul>

        </div>
      </header>
      
      <!-- Recomendações -->
      <section class="recommendations">
        <h2>Recommended Combo</h2>
        <img src="../assets/line.svg" alt="Line">
        <div class="combos">
          <div class="combo">
            <center><img src="../assets/combo1.svg" alt="Combo 1" class="combo-img"></center>
            <div class="combo-description">
              <h2 class="name">Honey lime combo</h2>
              <div class="price">
                <div class="flex">
                  <img src="../assets/price.svg" alt="Price" class="coin">
                  <p>2,000</p>
                </div>
                <img src="../assets/plus.svg" alt="Plus" class="plus">
              </div>
            </div>
          </div>
          <div class="combo">
            <center><img src="../assets/combo2.svg" alt="Combo 2" class="combo-img"></center>
            <div class="combo-description">
              <h2 class="name">Berry mango combo</h2>
              <div class="price">
                <div class="flex">
                  <img src="../assets/price.svg" alt="Price" class="coin">
                  <p>2,000</p>
                </div>
                <img src="../assets/plus.svg" alt="Plus" class="plus">
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="recommendations">
        <div class="titles">
          <h4>Hottest</h4>
          <h4 class="non-selected">Popular</h4>
          <h4 class="non-selected">New Combo</h4>
        </div>
        <img src="../assets/line2.svg" alt="Line">
        <div class="combos">
          <div class="combo combo-3">
            <center><img src="../assets/combo3.svg" alt="Combo 1" class="combo-img"></center>
            <div class="combo-description">
              <h2 class="name">Honey lime combo</h2>
              <div class="price">
                <div class="flex">
                  <img src="../assets/price.svg" alt="Price" class="coin">
                  <p>2,000</p>
                </div>
                <img src="../assets/plus.svg" alt="Plus" class="plus">
              </div>
            </div>
          </div>
          <div class="combo combo-4">
            <center><img src="../assets/combo4.svg" alt="Combo 2" class="combo-img"></center>
            <div class="combo-description">
              <h2 class="name">Berry mango combo</h2>
              <div class="price">
                <div class="flex">
                  <img src="../assets/price.svg" alt="Price" class="coin">
                  <p>2,000</p>
                </div>
                <img src="../assets/plus.svg" alt="Plus" class="plus">
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

</html>