<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.cdnfonts.com/css/tt-norms-pro" rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="icon" href="../assets/logo.svg">
  <title>My basket</title>
</head>
<body>
  <div class="container">

    <div class="order">
      <header>
        <div class="status-bar-1">
        <img src="../assets/statusbar.svg" alt="Status bar">
      </div>
      <div class="flex title">
        <div class="flex back-btn">
          <a href="home-screen.html">
            <img src="../assets/arrow.svg" alt="Arrow" id="arrow">
          </a>
          <a href="home-screen.html" id="go-back">Go back</a>
        </div>
        <h1>My Basket</h1>
      </div>
      </header>

      <section class="orders-basket">

        <div class="flex item-1">
          <img src="../assets/quinoa2.svg" alt="Quinoa" class="food">
          <div class="flex description">
            <h2 id="salad-name">Quinoa fruit salad</h2>
            <h4>2packs</h4>
            <div class="flex price">
              <img src="../assets/price2.svg" alt="Coin">
              <h2>20,000</h2>
            </div>
          </div>
          <div class="flex minus">
            <img src="../assets/minus.svg" alt="Minus">
          </div>
        </div>

        <div class="flex item-2">
          <img src="../assets/melon.svg" alt="Quinoa" class="food">
          <div class="flex description">
            <h2 id="salad-name">Melon fruit salad</h2>
            <h4>2packs</h4>
            <div class="flex price">
              <img src="../assets/price2.svg" alt="Coin">
              <h2>20,000</h2>
            </div>
          </div>
          <div class="flex minus">
            <img src="../assets/minus.svg" alt="Minus">
          </div>
        </div>

        <div class="flex item-3">
          <img src="../assets/tropical.svg" alt="Quinoa" class="food">
          <div class="flex description">
            <h2 id="salad-name">Tropical fruit salad</h2>
            <h4>2packs</h4>
            <div class="flex price">
              <img src="../assets/price2.svg" alt="Coin">
              <h2>20,000</h2>
            </div>
          </div>
          <div class="flex minus">
            <img src="../assets/minus.svg" alt="Minus">
          </div>
        </div>

        <div class="checkout">
          <h4>Total</h4>
          <div class="flex finish">
            <div class="flex price">
              <img src="../assets/price2.svg" alt="Coin">
              <h2>60,000</h2>
            </div>
            <a href="complete.html">Checkout</a>
          </div>
        </div>      
      </section>
    </div>
  </div>
</body>
</html>