<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.cdnfonts.com/css/tt-norms-pro" rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="icon" href="../assets/logo.svg">
  <title>Delivery Status</title>
</head>
<body>
  <div class="container">
    <header class="status-header">
      <div class="status-bar-1">
        <img src="../assets/statusbar.svg" alt="Status bar">
      </div>
      <div class="flex header-back">
        <div class="flex back-btn">
          <a href="home-screen.html">
            <img src="../assets/arrow.svg" alt="Arrow" id="arrow">
          </a>
          <a href="home-screen.html" id="go-back">Go back</a>
        </div>
        <h1>Delivery Status</h1>
      </div>
    </header>
    <div class="delivery-status">

      <div class="flex order-taken">
        <img src="../assets/img-status-1.png" alt="Order taken" class="status-img">
        <h1>Order taken</h1>
        <img src="../assets/checkmark.svg" alt="Checkmark" class="checkmark">
      </div>

      <img src="../assets/line4.svg" alt="Line" class="track-line">

      <div class="flex order-processed">
        <img src="../assets/img-status-2.png" alt="Being processed" id="processed-img">
        <h1>Order is being processed</h1>
        <img src="../assets/checkmark.svg" alt="Checkmark" class="checkmark">
      </div>

      <img src="../assets/line4.svg" alt="Line" class="track-line">

      <div class="flex order-delivered">
        <img src="../assets/img-status-3.svg" alt="Order delivered" id="delivered-img">
        <div>
          <h1>Order is being delivered</h1>
          <p>Your meal is on it's way</p>
        </div>
        <img src="../assets/phone.svg" alt="Phone" id="img-phone">
      </div>

      <img src="../assets/line4.svg" alt="Line" class="track-line">

      <div class="map">
        <img src="../assets/map.png" alt="Map">
      </div>

      <img src="../assets/line4.svg" alt="Line" class="track-line">

      <div class="flex order-received">
        <img src="../assets/checkmark2.svg" alt="Checkmark" id="checkmark-2">
        <h1>Order received</h1>
        <img src="../assets/balls.svg" alt="Balls" id="balls">
      </div>
    </div>
    
  </div>
</body>
</html>