@import '../abstract/reset';
@import '../abstract/variables';
@import '../abstract/base';

.container {
  @include container();
  .img {
    background-color: $primary-color;
    padding: 155px 39px 54px 35px;
  }
  .text {
    margin: 46px 24px 58px 24px;
    input {
      margin-top: 16px;
      height: 56px;
      width: 303px;
      padding-left: 24px;
      border-radius: 10px;
      background-color: #F3F1F1;
      border: none;
      font-weight: 400;
      color: #C2BDBD;
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    button {
      height: 56px;
      width: 327px;
      border-radius: 10px;
      background-color: $primary-color;
      border: none;
      color: #fff;
      font-weight: 500;
      margin-bottom: 69px;
      &:hover {
        background-color: #F08626;
        transition: .5s;
        transform: scale(1.05);
        cursor: pointer;
      }
    }  
  }
}

body {
  background-color: #E5E5E5;
}