/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

html, body {
  font-family: 'TT Norms Pro', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.splash {
  max-width: 375px;
  margin: 0 auto;
  background-color: #fff;
}

.splash::after, .splash::before {
  content: "";
  display: table;
  clear: both;
}

.splash .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32rem;
}

.splash .status-bar-2 {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.splash .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.splash .button .buttonload {
  background-color: #FFA451;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 110px;
}

body {
  background-color: #fff;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

html, body {
  font-family: 'TT Norms Pro', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  background-color: #fff;
}

.container::after, .container::before {
  content: "";
  display: table;
  clear: both;
}

.container .status-bar-1 {
  background-color: #FFA451;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .img {
  background-color: #FFA451;
  padding: 155px 39px 54px 35px;
}

.container .text {
  margin: 46px 24px 58px 24px;
}

.container .text h2 {
  color: #27214D;
  font-size: 20px;
}

.container .text p {
  color: #5D577E;
  line-height: 24px;
}

.container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .btn button {
  padding: 14px 119px;
  border-radius: 10px;
  background-color: #FFA451;
  border: none;
  color: #fff;
  font-weight: 500;
}

.container .btn button:hover {
  background-color: #F08626;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

body {
  background-color: #E5E5E5;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

html, body {
  font-family: 'TT Norms Pro', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  background-color: #fff;
}

.container::after, .container::before {
  content: "";
  display: table;
  clear: both;
}

.container .img {
  background-color: #FFA451;
  padding: 155px 39px 54px 35px;
}

.container .text {
  margin: 46px 24px 58px 24px;
}

.container .text input {
  margin-top: 16px;
  height: 56px;
  width: 303px;
  padding-left: 24px;
  border-radius: 10px;
  background-color: #F3F1F1;
  border: none;
  font-weight: 400;
  color: #C2BDBD;
}

.container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.container .btn button {
  height: 56px;
  width: 327px;
  border-radius: 10px;
  background-color: #FFA451;
  border: none;
  color: #fff;
  font-weight: 500;
  margin-bottom: 69px;
}

.container .btn button:hover {
  background-color: #F08626;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

body {
  background-color: #E5E5E5;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

html, body {
  font-family: 'TT Norms Pro', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  background-color: #fff;
}

.container::after, .container::before {
  content: "";
  display: table;
  clear: both;
}

.container header .container-2 {
  max-width: 330px;
  margin: 0 auto;
  margin-top: 24px;
  background-color: #fff;
}

.container header .container-2 .welcome {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #27214D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container header .container-2 .welcome #options {
  margin-right: 16px;
}

.container header .container-2 .welcome #basket {
  margin-left: auto;
  padding: 12px;
}

.container header .container-2 .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

.container header .container-2 .search input {
  outline: none;
  border: none;
  margin-left: 16px;
}

.container header .container-2 .search #filter {
  margin-left: auto;
}

.container header .container-2 .recommended-combos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container header .container-2 .recommended-combos .list-item {
  font-size: 14px;
  padding: 8px 16px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-right: 8px;
}

.container .recommendations {
  margin-bottom: 29px;
  margin-top: 36px;
  margin-left: 24px;
}

.container .recommendations .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #27214D;
  gap: 24px;
}

.container .recommendations .titles .non-selected {
  color: #CCC;
}

.container .recommendations h2 {
  color: #27214D;
  font-size: 18px;
  font-weight: 400;
}

.container .recommendations .combos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  margin-top: 16px;
}

.container .recommendations .combos .combo {
  -webkit-box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.1);
          box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.1);
  border-radius: 16px;
  width: 152px;
}

.container .recommendations .combos .combo .combo-img {
  margin: 16px 16px 13px 36px;
}

.container .recommendations .combos .combo .combo-description .name {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.container .recommendations .combos .combo .combo-description .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  color: #FFA451;
  font-weight: 500;
}

.container .recommendations .combos .combo .combo-description .price .coin {
  margin-right: 4px;
}

.container .recommendations .combos .combo .combo-description .plus {
  margin-left: auto;
}

.container .recommendations .combos .combo-3 {
  background-color: #FFFCF2;
}

.container .recommendations .combos .combo-4 {
  background-color: #FEF4F4;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

html, body {
  font-family: 'TT Norms Pro', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.basket {
  max-width: 375px;
  margin: 0 auto;
  background-color: #fff;
  background-color: #FFA451;
}

.basket::after, .basket::before {
  content: "";
  display: table;
  clear: both;
}

.basket .back-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 60px;
  border-radius: 100px;
  padding: 6px 8px;
  margin-top: 20px;
  margin-left: 24px;
  font-size: 12px;
}

.basket .back-btn #go-back {
  color: #27214D;
}

.basket .back-btn #arrow {
  margin-right: 4px;
}

.basket .img-2 {
  margin-bottom: 32px;
}

.basket .order {
  background-color: #fff;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  padding: 40px 24px 16px 24px;
}

.basket .order h1 {
  font-weight: 500;
  font-size: 24px;
  color: #27214D;
  margin-bottom: 24px;
}

.basket .order .add {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 41px;
}

.basket .order .add .quantity {
  gap: 24px;
}

.basket .order .add .quantity h2 {
  font-weight: 400;
  font-size: 24px;
  color: #27214D;
  line-height: 30px;
}

.basket .order .add .price {
  gap: 5px;
}

.basket .order .add .price h2 {
  font-weight: 500;
  font-size: 24px;
  color: #27214D;
  line-height: 30px;
}

.basket .combo-elements {
  background-color: #FFF !important;
}

.basket .combo-elements h2 {
  font-size: 18px;
  font-weight: 400;
  color: #27214D;
  margin-left: 24px;
  margin-bottom: 6px;
}

.basket .combo-elements img {
  margin-left: 24px;
}

.basket .combo-elements .elements-1 {
  margin-left: 24px;
  margin-top: 16px;
}

.basket .combo-elements .elements-2 {
  margin-left: 24px;
  margin-bottom: 20px;
}

.basket .combo-elements .elements-item {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 6px 8px;
  background-color: #FAFAFA;
  border-radius: 10px;
  font-size: 12px;
  color: #403E3E;
  font-weight: 400;
}

.basket .combo-elements .finish-order p {
  color: #333333;
  font-weight: 300;
  font-size: 14px;
  margin: 14px 49px 43px 24px;
  line-height: 24px;
}

.basket .combo-elements .finish-order .footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket .combo-elements .finish-order .footer img {
  margin-bottom: 16px;
}

.basket .combo-elements .finish-order .footer a {
  background-color: #FFA451;
  text-align: center;
  border-radius: 10px;
  padding: 16px 58px;
  color: #FFF;
  margin-right: 24px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */